name: Deploy React Loyalty backend application

on:
  push:
    branches:
      - main
      
      
env:
    DB_NAME: ${{ secrets.DB_NAME }}
    DB_USER: ${{ secrets.DB_USER }}
    DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    DB_HOST: ${{ secrets.DB_HOST }}
    DB_PORT: ${{ secrets.DB_PORT }}
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY:  ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_STORAGE_BUCKET_NAME:  ${{ secrets.AWS_STORAGE_BUCKET_NAME }}
    AWS_S3_REGION_NAME:  ${{ secrets.AWS_S3_REGION_NAME }}
    AWS_S3_CUSTOM_DOMAIN: ${{ secrets.AWS_S3_CUSTOM_DOMAIN }}


jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Build docker image
        run: sudo docker build -t tengoshamugia/loyalty_backend .
      - name: Login to docker hub
        run: sudo docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASS }}
      - name: Publish image to docker hub
        run: sudo docker push tengoshamugia/loyalty_backend:latest




  deploy-1:
    needs: build
    runs-on: ["self-hosted", "first"]
    steps:

      - name: Stop old container
        run: sudo docker stop backend || true

      - name: Remove old container
        run: sudo docker rm backend || true

      - name: Remove unused containers
        run: sudo docker container prune -f || true

      - name: Remove unused images
        run: sudo docker image prune -f || true
      
      - name: Remove unused containers
        run: sudo docker container prune -f || true

      - name: Pull image from Docker Hub
        run: sudo docker pull tengoshamugia/loyalty_backend:latest
      
      - name: Ensure Docker network exists
        run: |
          sudo docker network inspect loyalty_network >/dev/null 2>&1 || \
          sudo docker network create loyalty_network

      - name: Run new Docker container
        run: sudo docker run -d -p 8000:8000 --network loyalty_network -e DB_NAME=${{ secrets.DB_NAME }} -e DB_USER=${{ secrets.DB_USER }} -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} -e DB_HOST=${{ secrets.DB_HOST }} -e DB_PORT=${{ secrets.DB_PORT }} -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} -e AWS_STORAGE_BUCKET_NAME=${{ secrets.AWS_STORAGE_BUCKET_NAME }} -e AWS_S3_REGION_NAME=${{ secrets.AWS_S3_REGION_NAME }} -e AWS_S3_CUSTOM_DOMAIN=${{ secrets.AWS_S3_CUSTOM_DOMAIN }} --name backend tengoshamugia/loyalty_backend





  deploy-2:
    needs: build
    runs-on: ["self-hosted", "second"]
    steps:
      
          
      - name: Stop old container
        run: sudo docker stop backend || true

      - name: Remove old container
        run: sudo docker rm backend || true

      - name: Remove unused containers
        run: sudo docker container prune -f || true

      - name: Remove unused images
        run: sudo docker image prune -f || true

      - name: Remove unused containers
        run: sudo docker container prune -f || true

      - name: Pull image from Docker Hub
        run: sudo docker pull tengoshamugia/loyalty_backend:latest
      
      - name: Ensure Docker network exists
        run: |
          sudo docker network inspect loyalty_network >/dev/null 2>&1 || \
          sudo docker network create loyalty_network

      - name: Run new Docker container
        run: sudo docker run -d -p 8000:8000 --network loyalty_network -e DB_NAME=${{ secrets.DB_NAME }} -e DB_USER=${{ secrets.DB_USER }} -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} -e DB_HOST=${{ secrets.DB_HOST }} -e DB_PORT=${{ secrets.DB_PORT }} -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} -e AWS_STORAGE_BUCKET_NAME=${{ secrets.AWS_STORAGE_BUCKET_NAME }} -e AWS_S3_REGION_NAME=${{ secrets.AWS_S3_REGION_NAME }} -e AWS_S3_CUSTOM_DOMAIN=${{ secrets.AWS_S3_CUSTOM_DOMAIN }} --name backend tengoshamugia/loyalty_backend